#menu ul li.selected {
    background: #87759F;
    color:#FFFFFF;
}
#menu ul {
    margin: 0;
    padding: 0 0 0 0px;
    list-style: none;
    line-height: normal;
}
#menu li {
    display: block;
    float: left;
    background: #412567;
    width: 100%;
}
#menu a {
    display: block;
    float: left;
    /* margin-right: 17px;
    padding: 5px 8px; */
    text-decoration: none;
    color: #FFFFFF;
}
#menu a:hover {
    text-decoration: underline;
    background: #87759F;
    color:#FFFFFF;
    width: 100%;
}
#menu a:active {
    background: #87759F;
    color:#412567;
    width: 100%;
}

#menu .collapseable li{
    
    background-color:#371A5E;
   
}
#menu .collapseable a{
    color:#412567;
    font-size: 15px;
    color: #FFFFFF;
}

